.main {
  height: 100vh;
  background-color: #0b2535;
}

.container_main {
  max-width: 1200px;
  height: inherit;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4.5rem 1rem;
}

@media screen and (max-width: 768px) {
  .main {
    height: auto;
  }

  .container-main {
    flex-wrap: wrap;
    height: auto;
  }
}

/* contact me button */
.contact_button {
  text-decoration: none;
  width: 100%;
  max-width: 200px;
  height: 40px;
  display: block;
  line-height: 40px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  color: var(--clr-primary-contact);
  margin-top: 50px;
}

.contact_button div {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.contact_button span.bg {
  position: absolute;
  width: 0%;
  height: 100%;
  left: -5px;
  top: 0;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-primary-contact);
  transform: skewX(-19deg);
}

.contact_button:hover span.bg {
  width: 110%;
}

.contact_button span.base {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border: 1px solid var(--clr-primary-contact);
  box-sizing: border-box;
}

.contact_button span.text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.contact_button:hover span.text {
  color: #1d1d1d;
}
