#myskills {
  height: 100vh;
  /* background: #1d1d1d; */
  background-color: #0b2535;
}

.container_myskills {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}

@media screen and (max-width: 768px) {
  .container_myskills {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

p.myskills {
  color: #fff7f7;
  font-size: 1.2rem;
  max-width: 37.5rem;
  margin: 2rem auto;
}

/* 3d skills chart */

.card {
  background-color: black;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  perspective: 1500;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform-style: preserve-3d;
  box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.2);
}

@media (min-height: 600px) {
  .card {
    width: 400px;
    height: 550px;
  }
}
@media (max-width: 450px) {
  .card {
    width: 300px;
    height: 400px;
  }
}
@media (max-width: 350px) {
  .card {
    width: 200px;
    height: 300px;
  }
}

.card h2,
.card h3,
.card P {
  transform: translateZ(2px);
  color: white;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  font-weight: 300;
  padding: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

@media (min-height: 600px) {
  .card h2,
  .card h3,
  .card P {
    font-size: 40px;
    line-height: 40px;
  }
}

.card h2 {
  margin: 20px 0 0 0;
}

.card h3 {
  margin: 10px 0 40px 0;
}

@media (min-height: 600px) {
  .card h3 {
    margin: 20px 0 40px 0;
  }
}

.card P {
  margin: 0px 0 30px 0;
  font-size: 16px;
}

@media (min-height: 600px) {
  .card P {
    margin: 0px 0 40px 0;
    font-size: 21px;
  }
}

.card .chart {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: translateZ(2px);
  transition: transform 0.5s ease-in-out;
}

.card .photo {
  position: absolute;
  transform: translateZ(1px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: var(--text-gradient); */
  background: radial-gradient(
      circle at 55% 92%,
      #252729 0 12%,
      transparent 12.2%
    ),
    radial-gradient(circle at 94% 72%, #292728 0 10%, transparent 10.2%),
    radial-gradient(
      circle at 20% max(78%, 350px),
      #292829 0 7%,
      transparent 7.2%
    ),
    radial-gradient(circle at 0% 0%, #2d2c2c 0 40%, transparent 40.2%), #1d1d1d;
  background-size: cover;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.card .photo:after {
  position: absolute;
  content: ' ';
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease-in-out;
}

.card .bar {
  will-change: height;
  width: 15px;
  height: 1px;
  background-color: white;
  transform: translateX(-7.5px) rotateX(-90deg) rotateY(-45deg);
  transform-origin: 100% 100%;
  transition: height 0.5s ease-in-out, margin 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  transform-style: preserve-3d;
  margin: 6px;
  position: relative;
  background: linear-gradient(to bottom, #feffff 0%, #ddf1f9 0%, #a0d8ef 100%);
}

@media (min-height: 600px) {
  .card .bar {
    margin: 10px;
    width: 25px;
    transform: translateX(-12.5px) rotateX(-90deg) rotateY(-45deg);
  }
}

.card .bar:after {
  display: block;
  content: '';
  height: 100%;
  width: 15px;
  position: absolute;
  top: 0;
  right: -15px;
  background-color: grey;
  transform: rotateY(90deg);
  transform-origin: 0% 50%;
  background: linear-gradient(to bottom, #feffff 0%, #85d7f7 0%, #08ffc8 100%);
}

@media (min-height: 600px) {
  .card .bar:after {
    width: 25px;
    right: -25px;
  }
}

.card .bar:before {
  font-family: 'Oxygen', sans-serif;
  display: block;
  content: '';
  height: 15px;
  width: 15px;
  position: absolute;
  top: -15px;
  left: 0;
  background-color: white;
  transform: rotateX(90deg);
  transform-origin: 0% 100%;
  color: white;
  text-align: center;
  font-size: 10px;
  line-height: 14px;
  padding: 0;
  transition: color 0.3s ease-in-out;
}

@media (min-height: 600px) {
  .card .bar:before {
    width: 25px;
    height: 25px;
    top: -25px;
    font-size: 12px;
    line-height: 18px;
  }
}

.card .bar.bar1:before {
  content: url(../../images/skills-icons/css-3.svg);
}

.card .bar.bar2:before {
  content: url(../../images/skills-icons/js.svg);
}

.card .bar.bar3:before {
  content: url(../../images/skills-icons/react.svg);
}

.card .bar.bar4:before {
  content: url(../../images/skills-icons/html-5.svg);
}

.card .bar.bar5:before {
  content: url(../../images/skills-icons/astro.svg);
  background-color: black;
}

.card .bar.bar6:before {
  content: url(../../images/skills-icons/nextjs.svg);
}

.card .bar.bar7:before {
  content: url(../../images/skills-icons/tailwindcss.svg);
  background-size: 10px;
  object-fit: contain;
}

.card .bar span {
  position: absolute;
  transform: rotateZ(-90deg);
  border-radius: 2px;
  transform-origin: 0% 100%;
  top: 20px;
  white-space: nowrap;
  text-align: right;
  left: 18px;
  padding: 5px;
  color: black;
  font-size: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

@media (min-height: 600px) {
  .card .bar span {
    top: 30px;
    left: 25px;
    font-size: 13px;
  }
}

.details .card {
  transform: rotateX(60deg) translateY(150px);
  box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.75);
}

.details .card .chart {
  transform: translateZ(40px) translatey(50px);
}

.details .card .bar {
  transform: translateX(-7.5px) rotateX(-90deg) rotateY(-25deg);
}

@media (min-height: 600px) {
  .details .card .bar {
    transform: translateX(-12.5px) rotateX(-90deg) rotateY(-25deg);
  }
}

.details .card .bar.bar1 {
  height: 190px;
  transition-delay: 0.3s;
  margin-top: -190px;
}

.details .card .bar.bar2 {
  height: 170px;
  transition-delay: 0.2s;
  margin-top: -170px;
}

.details .card .bar.bar3 {
  height: 180px;
  transition-delay: 0.1s;
  margin-top: -180px;
}

.details .card .bar.bar4 {
  height: 200px;
  transition-delay: 0s;
  margin-top: -200px;
}

.details .card .bar.bar5 {
  height: 190px;
  transition-delay: 0.1s;
  margin-top: -190px;
}

.details .card .bar.bar6 {
  height: 180px;
  transition-delay: 0.2s;
  margin-top: -180px;
}

.details .card .bar.bar7 {
  height: 190px;
  transition-delay: 0.3s;
  margin-top: -190px;
}

.details .card .bar span {
  opacity: 1;
  transition-delay: 0.3s;
}

.details .card .bar:before {
  color: black;
}

.details .card .photo {
  transform: translateZ(20px);
}

.details .card .photo:after {
  background-color: var(--gradient-color);
}

.details .card h2 {
  opacity: 0;
  transform: translateZ(40px) translateY(-100px);
}

.details .card p {
  opacity: 0;
  transform: translateZ(40px) translateY(-80px);
}

.details .card h3 {
  transform: translateZ(60px) translateY(100px);
}
