@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --ff-primary: 'Fira Code', 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial;
  --ff-heading: 'Inter', 'Helvetica Neue', Helvetica, Arial;
  /* --clr-primary-contact: #08fdd8; */
  --clr-primary-contact: #1de4e7;
  --clr-primary-cyan: #1de4e7;
  --clr-primary-white: #fff7f7;
  /* --clr-primary-hover: #08ffc8; */
  --clr-primary-hover: #1de4e7;
  --clr-primary-nav-hover: #1de4e7;
  --clr-primary-nav: #0b2535;
  --clr-section-bg: #0b2535;
  --background-dark: hsl(222, 23%, 23%);
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --text-gradient: linear-gradient(
    45deg,
    rgb(176, 243, 241),
    rgb(255, 207, 223)
  ) !important;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  font-weight: 400;
  background-color: #0b2535;
}
code {
  font-family: var(--ff-primary);
}
button {
  font-family: var(--ff-primary);
}
section {
  padding: 1.5rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  font-family: var(--ff-heading);
}

@media screen and (max-width: 960px) {
  section {
    height: auto;
  }
}

button {
  background: none;
  border: none;
  outline: none;
}

header {
  background: transparent;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  /* fucks up navbar in mobile/ lower viewport */
  justify-items: flex-end;
  /* used flexbox in .nav-toggle-label for lower viewport */
  height: 4.5rem;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--clr-primary-nav);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--clr-primary-hover);
}
@media screen and (max-width: 800px) {
  nav li {
    margin: 1.5em 1em;
  }

  nav li:nth-of-type(1) {
    margin-top: 0.75em;
  }
}

@media screen and (min-width: 800px) {
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: var(--clr-primary-hover);
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

.nav-scrolled {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.35);
  opacity: 1;
  background-color: var(--clr-primary-nav) !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b2535;
}

::-webkit-scrollbar-thumb {
  background: #1de4e7;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #1de4e7;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}
/* 3d skills chart */

.card {
  background-color: black;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  perspective: 1500;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform-style: preserve-3d;
  box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.2);
}

@media (min-height: 600px) {
  .card {
    width: 400px;
    height: 550px;
  }
}
@media (max-width: 450px) {
  .card {
    width: 300px;
    height: 400px;
  }
}
@media (max-width: 350px) {
  .card {
    width: 200px;
    height: 300px;
  }
}

.card h2,
.card h3,
.card P {
  transform: translateZ(2px);
  color: white;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  font-weight: 300;
  padding: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

@media (min-height: 600px) {
  .card h2,
  .card h3,
  .card P {
    font-size: 40px;
    line-height: 40px;
  }
}

.card h2 {
  margin: 20px 0 0 0;
}

.card h3 {
  margin: 10px 0 40px 0;
}

@media (min-height: 600px) {
  .card h3 {
    margin: 20px 0 40px 0;
  }
}

.card P {
  margin: 0px 0 30px 0;
  font-size: 16px;
}

@media (min-height: 600px) {
  .card P {
    margin: 0px 0 40px 0;
    font-size: 21px;
  }
}

.card .chart {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: translateZ(2px);
  transition: transform 0.5s ease-in-out;
}

.card .photo {
  position: absolute;
  transform: translateZ(1px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: var(--text-gradient); */
  background: radial-gradient(
      circle at 55% 92%,
      #252729 0 12%,
      transparent 12.2%
    ),
    radial-gradient(circle at 94% 72%, #292728 0 10%, transparent 10.2%),
    radial-gradient(
      circle at 20% max(78%, 350px),
      #292829 0 7%,
      transparent 7.2%
    ),
    radial-gradient(circle at 0% 0%, #2d2c2c 0 40%, transparent 40.2%), #1d1d1d;
  background-size: cover;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.card .photo:after {
  position: absolute;
  content: ' ';
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease-in-out;
}

.card .bar {
  will-change: height;
  width: 15px;
  height: 1px;
  background-color: white;
  transform: translateX(-7.5px) rotateX(-90deg) rotateY(-45deg);
  transform-origin: 100% 100%;
  transition: height 0.5s ease-in-out, margin 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  transform-style: preserve-3d;
  margin: 6px;
  position: relative;
  background: linear-gradient(to bottom, #feffff 0%, #ddf1f9 0%, #a0d8ef 100%);
}

@media (min-height: 600px) {
  .card .bar {
    margin: 10px;
    width: 25px;
    transform: translateX(-12.5px) rotateX(-90deg) rotateY(-45deg);
  }
}

.card .bar:after {
  display: block;
  content: '';
  height: 100%;
  width: 15px;
  position: absolute;
  top: 0;
  right: -15px;
  background-color: grey;
  transform: rotateY(90deg);
  transform-origin: 0% 50%;
  background: linear-gradient(to bottom, #feffff 0%, #85d7f7 0%, #08ffc8 100%);
}

@media (min-height: 600px) {
  .card .bar:after {
    width: 25px;
    right: -25px;
  }
}

.card .bar:before {
  font-family: 'Oxygen', sans-serif;
  display: block;
  content: '';
  height: 15px;
  width: 15px;
  position: absolute;
  top: -15px;
  left: 0;
  background-color: white;
  transform: rotateX(90deg);
  transform-origin: 0% 100%;
  color: white;
  text-align: center;
  font-size: 10px;
  line-height: 14px;
  padding: 0;
  transition: color 0.3s ease-in-out;
}

@media (min-height: 600px) {
  .card .bar:before {
    width: 25px;
    height: 25px;
    top: -25px;
    font-size: 12px;
    line-height: 18px;
  }
}

.card .bar.bar1:before {
  content: url(../images/skills-icons/css-3.svg);
}

.card .bar.bar2:before {
  content: url(../images/skills-icons/js.svg);
}

.card .bar.bar3:before {
  content: url(../images/skills-icons/react.svg);
}

.card .bar.bar4:before {
  content: url(../images/skills-icons/html-5.svg);
}

.card .bar.bar5:before {
  content: url(../images/skills-icons/astro.svg);
  background-color: black;
}

.card .bar.bar6:before {
  content: url(../images/skills-icons/nextjs.svg);
}

.card .bar.bar7:before {
  content: url(../images/skills-icons/tailwindcss.svg);
  background-size: 10px;
  object-fit: contain;
}

.card .bar span {
  position: absolute;
  transform: rotateZ(-90deg);
  border-radius: 2px;
  transform-origin: 0% 100%;
  top: 20px;
  white-space: nowrap;
  text-align: right;
  left: 18px;
  padding: 5px;
  color: black;
  font-size: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

@media (min-height: 600px) {
  .card .bar span {
    top: 30px;
    left: 25px;
    font-size: 13px;
  }
}

.details .card {
  transform: rotateX(60deg) translateY(150px);
  box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.75);
}

.details .card .chart {
  transform: translateZ(40px) translatey(50px);
}

.details .card .bar {
  transform: translateX(-7.5px) rotateX(-90deg) rotateY(-25deg);
}

@media (min-height: 600px) {
  .details .card .bar {
    transform: translateX(-12.5px) rotateX(-90deg) rotateY(-25deg);
  }
}

.details .card .bar.bar1 {
  height: 190px;
  transition-delay: 0.3s;
  margin-top: -190px;
}

.details .card .bar.bar2 {
  height: 170px;
  transition-delay: 0.2s;
  margin-top: -170px;
}

.details .card .bar.bar3 {
  height: 180px;
  transition-delay: 0.1s;
  margin-top: -180px;
}

.details .card .bar.bar4 {
  height: 200px;
  transition-delay: 0s;
  margin-top: -200px;
}

.details .card .bar.bar5 {
  height: 190px;
  transition-delay: 0.1s;
  margin-top: -190px;
}

.details .card .bar.bar6 {
  height: 180px;
  transition-delay: 0.2s;
  margin-top: -180px;
}

.details .card .bar.bar7 {
  height: 190px;
  transition-delay: 0.3s;
  margin-top: -190px;
}

.details .card .bar span {
  opacity: 1;
  transition-delay: 0.3s;
}

.details .card .bar:before {
  color: black;
}

.details .card .photo {
  transform: translateZ(20px);
}

.details .card .photo:after {
  background-color: var(--gradient-color);
}

.details .card h2 {
  opacity: 0;
  transform: translateZ(40px) translateY(-100px);
}

.details .card p {
  opacity: 0;
  transform: translateZ(40px) translateY(-80px);
}

.details .card h3 {
  transform: translateZ(60px) translateY(100px);
}

/* Start of text animation */
.rubber_band {
  font-family: var(--ff-heading);
  color: var(--clr-primary-white);
  margin: 0;
  text-align: left;
}

.rubber_band_animation:hover {
  color: var(--clr-primary-hover);
}

.rubber_band_animation {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: rubberBand;
  display: inline-block;
}
h1 {
  font-size: 6em;
}

h2 {
  font-size: 4em;
  color: var(--clr-primary-hover) !important;
}

@media (max-width: 560px) {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 3.33em;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.66em;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
