#portfolio {
  height: 100vh;
  /* background: #1d1d1d; */
  background-color: #0b2535;
}

.container_portfolio {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 968px) {
  .container_portfolio {
    flex-wrap: wrap;
  }
}

/* Portfolio Cards */

.tile_grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .tile_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .tile_grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.tile {
  list-style: none;
  position: relative;
}

.tile:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.tile__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.tile:hover .tile__background {
  transform: scale(1.05) translateZ(0);
}

.tile_grid:hover > .tile:not(:hover) .tile__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.tile__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.tile__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.tile__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

.tile:hover .tile__heading {
  color: var(--clr-primary-hover);
}
