#about {
  height: 100vh;
  /* background: #1d1d1d; */
  background-color: var(--clr-section-bg);
}

.container_about {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: row;
}

.about_section {
  max-width: 514.29px;
}

@media screen and (max-width: 768px) {
  .container_about {
    flex-wrap: wrap;
  }
}

p.about_me {
  color: #fff7f7;
  font-size: 1.2rem;
  max-width: 37.5rem;
  margin: 2rem auto;
}
